@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
$body-background: hsl(233, 47%, 7%);
$container-background: hsl(244, 38%, 16%);
$main-color: white;
$secondary-color: hsla(0, 0%, 100%, 0.75);
$theme-color: hsl(277, 64%, 61%);
$breakpoint: 1250px;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Inter", "Lexend Deca", sans-serif;
  font-size: 15px;
}
h1 {
  font-size: 1.5rem;
  @media screen and (min-width: 320px) {
    font-size: calc( (100vw - 21.4rem)/(96 - 21.4) * (2.4 - 1.5) + 1.5rem);
    
  }
  @media screen and (min-width: 1440px) {
    font-size: 2.4rem;
  }
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-background;
}
.attribution {
  color: white;
}
.container {
  width: 95%;
  margin: 5em 0;
  @media screen and (min-width: 375px) {
    width: 75%;
  }
  max-width: 1115px;
  background-color: $container-background;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5em;
  text-align: center;
  flex-direction: column-reverse;
  @media screen and (min-width: $breakpoint) {
    flex-direction: row;
    text-align: left;
  }
  .container__left {
    flex: 1 1 auto;
    width: 100%;
    padding: 4.5em 2em 2em 2em;
    @media screen and (min-width: 700px) {
      padding: 4.5em;
    }
    h1 {
      color: $main-color;
      margin-bottom: 0.75em;
      span {
        color: $theme-color;
      }
    }
    p {
      display: inline-block;
      width: 100%;
      color: $secondary-color;
      margin-bottom: 3.5em;
      line-height: 170%;
    }
    .cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: column;
      @media screen and (min-width: 630px) {
        flex-direction: row;
      }
      .card-component {
        padding: 1em;
        h4 {
          font-size: 1.5rem;
          color: $main-color;
          margin-bottom: 0.25em;
        }
        p {
          font-size: 0.8rem;
          font-weight: 400;
          color: $secondary-color;
          text-transform: uppercase;
          letter-spacing: 2px;
          margin-bottom: 0;
        }
      }
    }
  }
  .container__right {
    flex: 0 0 50%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top: 0.5em;
      @media screen and (min-width: $breakpoint) {
        border-top-left-radius: 0;
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
      }
    }
    &::before {
      content: "";
      position: absolute;
      background-color: rgba($color: hsl(277, 64%, 50%), $alpha: 0.3);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
